.mapa {
  @include flex-alaing-direction(center,column);


  iframe {
    object-fit: cover;
    @include height-width (600px,80%);
    border-radius: 20px;
  }
}

.ayudaprinci {
  @include flex-alaing-direction(center,column);
  padding: 20px;
  background-color: $color-fondo;

  p {
    color: $color-blanco;
  }
}

textarea {
  display: flex;
  align-items: center;
}