
.bg-persona {
  background-color: $color-nav;
}

.indexprinci {
 @extend .mapa;
  padding: 20px;
  background-color: $color-fondo;
}

/* HEROLEFT */
.hero__left {
  grid-area: left;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 40px;
  h1 {
    color: $color-blanco;
    font-size: 40px;
  }
  p {
    color: $color-blanco;
    font-size: 24px;
  }
  a {
    background-color: $color-index;
    border: 2px solid transparent;
    color: $color-fondo;
    padding: 2px;
    transition: .3s;
    &:hover {
      background-color: transparent;
      border: 2px solid $color-nav;
      color: $color-nav;
      border-radius: 10px;
    }
  }
  &__users {
    display: flex;
    margin: 10px;
    height: 130px;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border: 2px solid $color-blanco;
      border-radius: 100%;
      margin: -10px;
      transition: .3s;
      &:hover {
        width: 100px;
        height: 100px;
        z-index: 1;
      }
    }
  }
}

/* HERORIGTH */
.hero__right {
  grid-area: right;
  position: relative;
  img {
    width: 100%;
    min-height: 700px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  &__title {
    background-color: $color-index;
    padding: 5px;
    border-radius: 10px;
    font-size: 6px;
    transition: .7s;
    &:hover {
      background-color: $color-index;
      box-shadow: 5px 5px 5px 5px $color-fondo;
      padding: 10px;
      font-size: 20px;
    }
  }
}


.hero__right__title:hover .bluebar {
  width: 70%;
}

.hero__right__title:hover .graybar {
  width: 50%;
}

.c1 {
  position: absolute;
  bottom: 30%;
  left: -20%;
}

.c2 {
  position: absolute;
  bottom: 5%;
  left: -10%; 
}

.graybar {
  display: inline-block;
  background-color: $color-index;
  border-radius: 50px;
  width: 70%;
  height: 15px;
  transition: .5s;
}

.bluebar {
  display: inline-block;
  background-color: $color-fondo;
  border-radius: 50px;
  width: 30%;
  height: 15px;
  transition: .5s;
}